@using InstrumentService_Utility;
@model IEnumerable<Product>
<form method="post">
    <br />
    <div class="border border-white">
        <div class="container row justify-content-center">
            <div class="col-12">
                <div class="card mt-4">
                    <div class="card-header bg-dark text-light ms-0 row container py-2">
                        <div class="col-8 fs-4">
                            <i class="fa fa-shopping-cart"></i> &nbsp;
                            Корзина покупок
                        </div>
                        <div class="col-4 text-end">
                            <a asp-action="Index" asp-controller="Home" class="btn btn-outline-info btn-md">Продожить покупки</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class=" d-none d-lg-block">
                            <div class="row" style="color:#821f3d">
                                <div class="col-lg-2">
                                </div>
                                <div class="col-12 col-lg-7">
                                    Подробная информация о продукте
                                </div>
                                <div class="col-12 col-lg-2">
                                    Цена
                                </div>
                                <div class="col-6 col-sm-4 col-lg-1">
                                </div>
                            </div>
                        </div>

                        <hr />
                        @if (!Model.Any())
                        {
                            <p1>Корзина пуста</p1>
                        }
                        else
                        {
                            @foreach (var obj in Model)
                            {
                                <div class="row h-100">
                                    <div class="col-4 col-md-2 text-center py-2">
                                        <img src="@WC.ImagePath@obj.Image" class="rounded" width="100%" />
                                    </div>
                                    <div class="col-8 col-lg-7">
                                        <h5>@obj.Name</h5>
                                        <div style="font-size:11px;">@obj.ShortDescription</div>
                                    </div>
                                    <div class="col-3 col-lg-2 pt-lg-4" style="font-size:11px;">
                                        <span style="font-size:17px;">@obj.Price ₽</span>/ за единицу

                                    </div>
                                    <div class="col-2 col-lg-1 p-0 pt-lg-4 text-center">
                                        <a asp-action="Remove" asp-route-id="@obj.Id" class="btn btn-outline-danger">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </div>


                                <hr />
                            }
                        }

                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-6 col-md-3 offset-md-9">
                                <button type="submit" class="btn btn-success form-control ">
                                    <span>Продолжить</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
